*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: black;
}
html, body{
	overflow-x: hidden;
}
.header{
    min-height: 100px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5)
}
nav{
    display: flex;
    padding: 2% 6%;
}
nav img{
    width: 150px;
    margin-left: 100px;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.nav-links ul li:hover{
    -webkit-transform:rotateX(180deg);
    -moz-transform:rotateX(180deg);
    -o-transform:rotateX(180deg);
    -ms-transform:rotateX(180deg);
    direction:rtl;
    color: red;
    border: 1px solid red;
}
.nav-links a:hover{
    color: red;
}

nav .fa{
    display: none;
}
.footer{
    text-align: right;
    color: red;
    font-size: 14px;
    margin-right: 5%;
}
.textbox{
    width: 80%;
    border: 5px solid red;
    margin: auto;
    padding: 20px;
}
.textbox h1{
    color: white;
    font-size: 80px;
}
.textbox p{
    color: red;
}
.textbox audio{
    margin-top: 20px;
}

@media(max-width: 700px){
    .nav-links ul li{
        display: block;
    }
    nav img{
        margin-left: 0;
    }
    .nav-links{
        position: absolute;
        background: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .footer{
        font-size: 10px;
        padding-top: 90%;
    }
    #hidemenu{
        background: red;
    }
    #showmenu{
        margin-left: 160px;
    }
}