*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: black;
}
html, body{
	overflow-x: hidden;
}
.header{
    min-height: 100px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5)
}
nav{
    display: flex;
    padding: 2% 6%;
}
nav img{
    width: 150px;
    margin-left: 100px;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.nav-links ul li:hover{
    -webkit-transform:rotateX(180deg);
    -moz-transform:rotateX(180deg);
    -o-transform:rotateX(180deg);
    -ms-transform:rotateX(180deg);
    direction:rtl;
    color: red;
    border: 1px solid red;
}
.nav-links a:hover{
    color: red;
}

nav .fa{
    display: none;
}

.menu{
    width: 80%;
    margin-left: 20%;
    padding-top: 200px;
    color: red;
}
.menu h1{
    font-size: 150px;
}
.menu a{
    text-decoration: none;
    color: red;
}
.reverse:hover{
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    direction:rtl;
    color: white;
  }
.footer{
    text-align: right;
    color: red;
    font-size: 14px;
    margin-right: 5%;
}

@media(max-width: 700px){
    .nav-links ul li{
        display: block;
    }
    nav img{
        margin-left: 0;
    }
    .nav-links{
        position: absolute;
        background: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .menu h1{
        font-size: 50px;
    }
    .menu{
        margin-left: 5%;
    }
    .footer{
        font-size: 10px;
        padding-top: 90%;
    }
    #hidemenu{
        background: red;
    }
}